@import url(global.css);

.search input {
    background-color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 50px;
    width: 100%;
    height: 1rem;
    padding: 5px 15px;
}

.project-card {
    background-color: white;
    border-left: 8px solid var(--yellow);
    border-radius: var(--card-corners);
    padding: 2vw 1vw;
    display: grid;
    grid-template-rows: 1fr auto;
}

.project-card .icons {
    display: flex;
    gap: 1vw;
    justify-content: flex-end;
}

.anoun-card {
    background-color: white;
    border-radius: var(--card-corners);
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2vw;
}

.anoun-card-txt {
    border-bottom: 1px solid var(--grey);
    padding-bottom: 10px;
}

.card-txt p {
    font-size: clamp(12px, 1rem, 1rem + 4px);
    color: #9d9d9d;
}

.trending-card-txt {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 10px;
}

.trending-card-txt span {
    grid-row: 1 / 3;
}

.menu span img,
.links span img {
    width: 20px;
}

.trending-card-txt img {
    width: 52px;
}

.icons img {
    width: 20px;
}

input[type="button"] {
    border: 1px solid var(--blue);
    border-radius: 50px;
    background-color: var(--blue);
    color: white;
    padding: 8px 24px;
    font-weight: 600;
}

.trending-card h3 {
    margin-bottom: 1vw;
}

.anoun p {
    font-size: clamp(12px, 14px, 16px);
    color: #9d9d9d;
}